
<!-- Start::page-header -->
<div class="flex items-center justify-between page-header-breadcrumb flex-wrap gap-2">
    <div>
        <h1 class="page-title font-medium text-lg mb-0">Inicio</h1>
    </div>
</div>
<!-- End::page-header -->

<!-- Start::Row-1 -->
<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-4 col-span-12">
        <div class="box overflow-hidden">
            <div class="box-header justify-between">
                <div class="box-title">
                    Se propone agregar tarjetas con información importante
                </div>
                <a href="javascript:void(0);" class="ti-btn ti-btn-light btn-wave px-2 py-[0.26rem] text-textmuted dark:text-textmuted/50 waves-effect waves-light">View All</a>
            </div>
            <div class="box-body">
                <span>
                    Lorem ipsum is a dummy text used in laying out print, graphic or web designs. It is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                </span>
            </div>
        </div>
    </div>
    <div class="xl:col-span-4 col-span-12">
        <div class="box overflow-hidden">
            <div class="box-header justify-between">
                <div class="box-title">
                    Se propone agregar tarjetas con información importante 2
                </div>
                <a href="javascript:void(0);" class="ti-btn ti-btn-light btn-wave px-2 py-[0.26rem] text-textmuted dark:text-textmuted/50 waves-effect waves-light">View All</a>
            </div>
            <div class="box-body">
                <span>
                    Lorem ipsum is a dummy text used in laying out print, graphic or web designs. It is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                </span>
            </div>
        </div>
    </div>
    <div class="xl:col-span-4 col-span-12">
        <div class="box overflow-hidden">
            <div class="box-header justify-between">
                <div class="box-title">
                    Se propone agregar tarjetas con información importante 3
                </div>
                <a href="javascript:void(0);" class="ti-btn ti-btn-light btn-wave px-2 py-[0.26rem] text-textmuted dark:text-textmuted/50 waves-effect waves-light">View All</a>
            </div>
            <div class="box-body">
                <span>
                    Lorem ipsum is a dummy text used in laying out print, graphic or web designs. It is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End::Row-1 -->

<!-- Start::Row-2 -->
 <div class="grid grid-cols-12 gap-x-6">
    
 </div>
<!-- End::Row-2 -->

<!-- Start::Row-3 -->
 <div class="grid grid-cols-12 gap-x-6">
    
 </div>
<!-- End::Row-3 -->