  <!-- app-header -->
  <header class="app-header" id="header" [ngClass]="{ 'sticky-pin': scrolled }">

    <!-- Start::main-header-container -->
    <div class="main-header-container container-fluid">
        <!-- Start::header-content-left -->
        <div class="header-content-left">
            <!-- Start::header-element -->
            <div class="header-element">
                <div class="horizontal-logo">
                    <a [routerLink]="['/nuplinTV/inicio']" class="header-logo"> 
                        <img src="./assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo"> 
                        <img src="./assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark"> 
                        <img src="./assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark"> 
                        <img src="./assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo"> 
                        <img src="./assets/images/brand-logos/toggle-white.png" alt="logo" class="toggle-white"> 
                        <img src="./assets/images/brand-logos/desktop-white.png" alt="logo" class="desktop-white"> 
                    </a>
                </div>
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element mx-lg-0">
                <a aria-label="Hide Sidebar" (click)="toggleSidebar()"
                    class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle"
                    data-bs-toggle="sidebar" href="javascript:void(0);"><span></span></a>
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            
            <!-- End::header-element -->

        </div>
        <!-- End::header-content-left -->

        <!-- Start::header-content-right -->
        <ul class="header-content-right">
            <!-- Start::header-element -->
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <!-- End::header-element -->
            <!-- Start::header-element -->
            <!-- light and dark theme -->
            
            <!-- End light and dark theme -->

            <!-- End::header-element -->

            <!-- Start::header-element -->
            
            <!-- End::header-element -->

            <!-- Start::header-element -->
           
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <li class="header-element header-fullscreen" appFullscreen>
                <!-- Start::header-link -->
                <a (click)="toggleFullscreen()"  href="javascript:void(0);" class="header-link" aria-label="anchor">
                    <svg [ngClass]="{ 'hidden': isFullscreen }" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 full-screen-open header-link-icon"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                    </svg>
                    <svg [ngClass]="{ 'hidden': !isFullscreen }" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 full-screen-close header-link-icon hidden"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 9V4.5M9 9H4.5M9 9 3.75 3.75M9 15v4.5M9 15H4.5M9 15l-5.25 5.25M15 9h4.5M15 9V4.5M15 9l5.25-5.25M15 15h4.5M15 15v4.5m0-4.5 5.25 5.25" />
                    </svg>
                </a>
                <!-- End::header-link -->
            </li>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <li class="header-element ti-dropdown hs-dropdown">
                <!-- Start::header-link|dropdown-toggle -->
                <a aria-label="anchor"  href="javascript:void(0);" class="header-link hs-dropdown-toggle ti-dropdown-toggle"
                    id="mainHeaderProfile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <div class="flex items-center">
                        <div>
                            <img src="./assets/images/faces/15.jpg" alt="img" class="avatar avatar-sm mb-0">
                        </div>
                    </div>
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <ul class="main-header-dropdown hs-dropdown-menu ti-dropdown-menu pt-0 overflow-hidden header-profile-dropdown hidden"
                    aria-labelledby="mainHeaderProfile">
                    <li>
                        <div
                            class="ti-dropdown-item text-center border-b border-defaultborder dark:border-defaultborder/10 block">
                            <span>
                                {{dataUSer.displayName}}
                            </span>
                            <span class="block text-xs text-textmuted dark:text-textmuted/50">{{dataUSer.role}}</span>
                        </div>
                    </li>
                    <li><a class="ti-dropdown-item flex items-center" (click)="logout()"><i
                                class="fe fe-lock p-1 rounded-full bg-primary/10 text-primary ut me-2 text-[1rem]"></i>Cerrar
                            Sesión</a></li>
                </ul>
            </li>
            <!-- End::header-element -->

            <!-- Start::header-element -->
           
            <!-- End::header-element -->

        </ul>
        <!-- End::header-content-right -->

    </div>
    <!-- End::main-header-container -->

</header>
<!-- /app-header -->

