<!-- Start::page-header -->
<div class="flex items-center justify-between page-header-breadcrumb flex-wrap gap-2">
    <div>
        <h1 class="page-title font-medium text-lg mb-0">Inicio</h1>
    </div>
</div>
<!-- End::page-header -->
 <!-- Start::Table Usuarios -->
    <div class="grid grid-cols-12 gap-6">
        <div class="xl:col-span-12 col-span-12">
            <div class="box overflow-hidden">
                <div class="box-header justify-between">
                    <div class="box-title">
                        USUARIOS
                    </div>
                </div>
                <div class="box-body">
                    <div class="box-body flex justify-center items-center">
                        <div class="form-group">
                            <div class="flex items-center space-x-3">
                                <div class="relative flex items-center w-80">
                                    <div class="input-group-text !text-textmuted dark:text-textmuted/50 !border-defaultborder dark:!border-defaultborder/10">
                                        <i class="ri-calendar-line"></i>
                                    </div>
                                    <spk-flatpickr
                                        [(ngModel)]="selectedDates"
                                        [placeholder]="'Selecciona un rango de fechas'"
                                        [mode]="'range'"
                                        [altInput]="false"
                                        [dateFormat]="'Y-m-d'"
                                        [enableTime]="false"
                                        class="pl-12 pr-3 py-2 border rounded-md w-full text-sm focus:ring focus:ring-blue-200 dark:bg-gray-800 dark:border-gray-700 dark:text-white"
                                        (ngModelChange)="onDateChange($event)"  ngDefaultControl>
                                    </spk-flatpickr>
                                </div>
                                <button 
                                    class="px-4 py-2 bg-blue-600 text-white text-sm rounded-md hover:bg-blue-700 transition"
                                    (click)="searchByDate()">
                                    Buscar
                                </button>
                                <div class="relative inline-block">
                                    <button 
                                      (click)="togglePopover()" 
                                      class="w-6 h-6 flex items-center justify-center bg-gray-300 dark:bg-gray-600 text-gray-700 dark:text-gray-300 rounded-full text-sm font-bold hover:bg-gray-400 dark:hover:bg-gray-500 transition">
                                      ?
                                    </button>
                                    <div 
                                      *ngIf="isPopoverOpen" 
                                      class="absolute left-1/2 -translate-x-1/2 mt-2 w-64 p-3 bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-300 rounded-lg shadow-lg border border-gray-200 dark:border-gray-600 z-10">
                                      <p class="text-sm">Los datos mostrados corresponden a los últimos 30 días desde hoy. Puedes ajustar las fechas si necesitas otro período.</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="box-body space-y-3 flex justify-between items-center mt-4">
                        <div>  <span>
                                {{ displayedRecords }} registros de {{ this.datosTablaUsuario.length }}
                            </span>
                        </div>
                        <div> 
                            <button class="ti-btn ti-btn-icon ti-btn-sm ti-btn-soft-success" (click)="openCreateModal()">
                                <i class="ri-user-add-line"></i>
                            </button>
                            <button class="ti-btn ti-btn-sm ti-btn-info ml-2" (click)="exportToExcel()">
                                Exportar a Excel
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <spk-reusable-tables [columns]="responsiveColumn"  tableHeadColumn="text-start"
                        trClass="border-b  border-defaultborder dark:border-defaultborder/10"
                        tableClass="ti-custom-table whitespace-nowrap min-w-full"  [showCheckbox]="false">
        
                            @for(table of paginatedData;track $index){
                            <tr>
                                <th scope="row"><input class="form-check-input" type="checkbox" id="checkboxNoLabel1" value=""
                                        aria-label="..."></th>
                                <td>
                                    <div class="flex items-center">
                                        {{table.name}}
                                    </div>
                                </td>
                                <td>{{table.mail}}</td>
                                <td>{{table.pack}}</td>
                                <td>{{table.dateActivation}}</td>
                                <td><span class="badge bg-{{table.bg}}-transparent">{{table.periody}}</span></td>
                                <td>
                                    <div class="hstack flex gap-3 text-[.9375rem]">
                                        <a class="ti-btn ti-btn-icon ti-btn-sm ti-btn-soft-info" (click)="openEditModal(table)"><i
                                                class="ri-edit-line"></i></a>
                                        <a href="javascript:void(0);"
                                            class="ti-btn ti-btn-sm ti-btn-soft-danger !rounded-full"><i
                                                class="ri-delete-bin-line"></i></a>
                                    </div>
                                </td>
                            </tr>
                            }
                        </spk-reusable-tables>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="flex justify-center mt-4">
                <nav class="flex items-center gap-x-2">
                    <!-- Botón Anterior -->
                    <button type="button" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
                        class="min-h-[38px] min-w-[38px] flex justify-center items-center text-gray-500 hover:text-blue-600 disabled:opacity-50">
                        <i class="ri-arrow-left-s-line text-lg"></i>
                    </button>
            
                    <div class="flex items-center gap-x-2">
                        @for (page of totalPagesArray; track $index) {
                            <button type="button" (click)="changePage(page)"
                                [class.border-blue-500]="page === currentPage"
                                [class.text-blue-600]="page === currentPage"
                                [class.bg-blue-100]="page === currentPage"
                                class="min-h-[38px] min-w-[38px] flex justify-center items-center border border-gray-300 rounded-lg text-gray-700 hover:border-blue-500 hover:text-blue-600 transition-all">
                                {{ page }}
                            </button>
                        }
                    </div>
            
                    <!-- Botón Siguiente -->
                    <button type="button" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages()"
                        class="min-h-[38px] min-w-[38px] flex justify-center items-center text-gray-500 hover:text-blue-600 disabled:opacity-50">
                        <i class="ri-arrow-right-s-line text-lg"></i>
                    </button>
                </nav>
            </div>
            <!-- End Pagination -->
        </div>
    </div>
    <!-- End:: Table Usuarios -->

<app-modal-usuarios 
    *ngIf="showModal"
    [title]="isEditing ? 'Editar Usuario' : 'Crear Usuario'"
    [data]="selectedUser"
    (closeModal)="closeModal()"
    (onSave)="handleSave($event)">
        <div>
            <label class="block text-sm">Nombre</label>
            <input type="text" [(ngModel)]="selectedUser.name" class="w-full border p-2 rounded" />
            <label class="block text-sm mt-2">Correo</label>
            <input type="email" [(ngModel)]="selectedUser.email" class="w-full border p-2 rounded" />
        </div>
</app-modal-usuarios>