<div class="page error-bg">
    <div class="error-page">
        <div class="container">
            <div class="my-auto">
                <div class="grid grid-cols-11 items-center justify-center h-full">
                    <div class="xl:col-span-2 lg:col-span-2 md:col-span-1 col-span-12"></div>
                    <div class="xl:col-span-7 lg:col-span-7 md:col-span-9 col-span-12 px-2">
                        <p class="error-text mb-4">Ups!!</p>
                        <p class="text-[1.5rem] font-normal mb-2">Acceso No Autorizado</p>
                        <p class="text-[15px] mb-[3rem] text-textmuted dark:text-textmuted/50">No tienes los permisos necesarios para acceder a esta página. Por favor, verifica tus credenciales o contacta al administrador.</p>
                        <a (click)="logout()" class="ti-btn ti-btn-primary"><i class="ri-arrow-left-line align-middle me-1 inline-block"></i> VOLVER A LA PÁGINA DE INICIO</a>
                    </div>
                    <div class="xl:col-span-2 lg:col-span-2 md:col-span-1 col-span-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>