
<!-- Start::page-header -->
<div class="flex items-center justify-between page-header-breadcrumb flex-wrap gap-2">
    <div>
        <h1 class="page-title font-medium text-lg mb-0">Inicio</h1>
    </div>
</div>
<!-- End::page-header -->

<!-- Start::Row-1 -->
<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-8 col-span-12">
        <div class="grid grid-cols-12 gap-x-6">
        @for(card of cardData;track $index){
            <div class="xxl:col-span-6 xl:col-span-6 col-span-12">
                <spk-sales-cards [card]="card"></spk-sales-cards>
            </div>
        }
        </div>
    </div>
</div>
<!-- End::Row-1 -->

<!-- Start::Row-2 -->
 <div class="grid grid-cols-12 gap-x-6">
    
 </div>
<!-- End::Row-2 -->

<!-- Start::Row-3 -->
 <div class="grid grid-cols-12 gap-x-6">
    
 </div>
<!-- End::Row-3 -->